{% load static %}

<footer class="footer-distributed">
	<div class="footer-left">
		<h3>Cream<span>Coffee</span></h3>
		<p class="footer-company-name">Linux Mint &copy; 2019</p>
	</div>
	<div class="footer-center">
		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>1 Mira str </span> Mariupol, Ukraine</p>
		</div>
		<div>
			<i class="fa fa-phone"></i>
			<p>+38 068 1845408</p>
		</div>
		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:support@company.com">freshfrutmg@gmail.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>About the Coffee</span>
			Кофе стало современной религией, кофейный стаканчик символом десятилетия, подчеркивающим возможность без паузы получать маленькие удовольствия в бесконечном списке дел, событий и обязательств.
		</p>
		<div class="footer-icons">
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>
	</div>
</footer>