{% load static %}

<footer class="footer-distributed">
	<div class="footer-left">
		<h3>Cream<span>Coffee</span></h3>
		<p class="footer-company-name">Linux Mint &copy; 2019</p>
	</div>
	<div class="footer-center">
		<div class="td_center">
			<img src="{% static 'img/location.png' %}">
			<p><span>1 Mira str </span> Mariupol, Ukraine</p>
		</div>
		<div class="td_center">
			<img src="{% static 'img/phone.png' %}">
			<p>+38 068 1845408</p>
		</div>
		<div class="td_center">
			<img src="{% static 'img/mail.png' %}">
			<p><a href="mailto:freshfrutmg@gmail.com">freshfrutmg@gmail.com</a></p>
		</div>
	</div>
	<div class="footer-right">
		<p class="footer-company-about">
			<span>About the Coffee</span>
			Кофе стало современной религией, кофейный стаканчик символом десятилетия, подчеркивающим возможность без паузы получать маленькие удовольствия в бесконечном списке дел, событий и обязательств.
		</p>
		<div class="footer-icons">
			<a href="https://www.facebook.com/creamos.coffein"><img src="{% static 'img/fb.png' %}"></a>
			<a href="https://www.instagram.com/frutmg/"><img src="{% static 'img/inst.png' %}"></a>
		</div>
	</div>
</footer>

