{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="table-responsive">
    <h2>Заказ</h2>
    <table class="blueTable">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>          
            <th scope="col">Цена за 1 кг</th>
            <th scope="col">Мин. заказ (Кг)</th>
            <th scope="col">Количество</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in order.items.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>
                <a href="{{ order_item.product_item.get_absolute_url }}">{{ order_item.product_item.title }}</a>
            </td>

            <td>{{ order_item.get_one_kg_price| floatformat:"2" }}</td>

            <td>{{ order_item.product_item.min_req| floatformat:"2" }}</td>

            <td>
                <div class="td_center">
                <a href=" {% url 'page_1:remove_single_item_from_cart' order_item.product_item.slug %}">
                    <img src="{% static 'img/minus.png' %}" class="order_plus_minus"></a> 
                   {{ order_item.get_total_quantity| floatformat:"2" }}
                <a href=" {% url 'page_1:add_to_cart' order_item.product_item.slug %}">
                    <img src="{% static 'img/plus.png' %}" class="order_plus_minus"></a>
                </div>
            </td>
            <td>
                <div class="td_center">
                {{ order_item.get_final_price| floatformat:"2" }} Грн
                <div style="width: 20px; height: 20px;">   
                <a href=" {% url 'page_1:remove_from_cart' order_item.product_item.slug %}">
                <img src="{% static 'img/trash.png' %}" class="order_plus_minus">
                </a></div>
            
            </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Добавьте товар в корзину</td>
        </tr>
        <tr>
            <td colspan="5"> 
            <a class='btn btn-primary float-right' href='/'> Продолжить покупки </a>
            </td>
        </tr>
        {% endfor %}
        {% if order.get_total %}
        <tr>
            <td colspan="5"><b> Всего </b></td>
            <td> <b>{{ order.get_total| floatformat:"1" }} Грн </b></td>
        </tr>
        <tr>
            <td colspan="6"> 
                <a class='btn btn-warning float-right ml-2' href='/checkout/'> Оформить заказ </a>
                <a class='btn btn-primary float-right' href='/'> Продолжить покупки </a>
            </td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    </div>


{% endblock content %}


